/* START CSS BASELINE */

/* taken from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* these are some initial rules to standardize element display and behaviour */
/* you can read more about why following the above link, or searching for */
/* "css normalize" or "css reset" in your favorite search engine ;) */

.slider-container {
    display: flex;
    flex-wrap: wrap;
    border-left-style: solid;
    border-left-width:5px;
    border-left-color: #74b9ff;
    background-color: #81ecec;
    padding: 2%;


  }
  .container .item {
    flex: 1 0 33%;
  }
  .slider-container label{
    margin-left: 1%;
    margin-right: 1%;
  }