.personal {
    background-color: #4caf50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
  }
  
  /* Button hover effect */
  .button:hover {
    background-color: #45a049; /* Darker green */
  }

  .route {
    background-color: #4caf50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
  }
  .fund {
    background-color: #4caf50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
  }
  
  